@charset "utf-8";
.wrapper{
    width: 500px;
    height: 450px;
    border: solid 1px #dcdcdca4;
      border-right: solid 4px #dcdcdca4;
      border-bottom: solid 4px #dcdcdca4;
      border-radius: 10px;
}
#header,#calc{
  box-sizing: border-box;
  text-align: center;
}
#header {
  font-size: 24px;
  padding: 1rem;
}
input{
  box-sizing: border-box;
  width: 75%;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
}
button{
        width: 70px;
        height: 70px;
        font-size: x-large;
        background-color: #dcdcdca4;
        border: none;
        border-radius: 20px;
        outline: none;
}
button:hover{
  background-color: #ddd;
}
.ope{
    background-color: darkorange;
}